# Dependencies
node_modules/
.pnp
.pnp.*

# Production / Build
dist/
build/
.next/
out/
.vercel

# Environment variables
.env
.env.local
.env.*.local

# OS / Temp files
.DS_Store
*.pem
*.log
*.tsbuildinfo

# IDE
.vscode/
.idea/